**/venv
**/.idea
**/.DS_Store
*.DS_Store
**/__pycache__/*
**.pyc
*._*
**.ipynb_checkpoints
**.gz
**.pkl
**.gpickle
**.pickle
*.log

!OptiVax_Data/

**/.snakemake
Pipeline/*/
!Pipeline/envs/
!Pipeline/scripts/

HOGVAX/*/
